<div class="container">
  <div class="row">
    <div class="col-sm">
      <p></p>
      <div class="card bg-light">
        <div class="card-body">
          <p class="headline"> 
            <strong><i class="far fa-calendar-alt"></i> 10 AM – 2 PM <br>Friday, December 6th, 2019 </strong>
          </p>
          <p class="headline">
            3<sup>rd</sup> Floor, Bossone Research Center <br>
            <em>32nd and Market Streets, Drexel University</em>
          </p>
          <a href="https://drexel.qualtrics.com/jfe/form/SV_cHLLIcjDBRKOqB7" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Register Now!</a>
          <hr>
          <p>Join the <strong>Drexel University College of Engineering</strong> and <strong>School of Biomedical Engineering Science and Health Systems</strong> for the <em style="text-decoration: underline;">ultimate engineering open house</em>! </p>
          <br>
          <div class="row">
            <div class="col-sm">
              <p><i class="fas fa-cogs" style="font-size: 3em; color: red;"></i></p>
              <p>
                Learn about collaboration and innovation in engineering research and graduate studies at Drexel
              </p>
            </div> 
            <div class="col-sm">
              <p><i class="fas fa-user-graduate" style="font-size: 3em; color: red;"></i></p>
              <p>
                Speak with current graduate students, advisors, and faculty
              </p>
            </div>
            <div class="col-sm">
              <p><i class="fas fa-vial" style="font-size: 3em; color: red;"></i></p>
              <p>
                Explore our facilities via lab tour
              </p>
            </div>
          </div>
          <!-- Buttons -->
          <br>
          
          <!-- <a href="https://drexel.qualtrics.com/jfe/form/SV_cHLLIcjDBRKOqB7" class="btn btn-secondary" role="button" aria-disabled="true">Agenda</a> -->
          <p>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#agendaModal">Agenda <i class="fas fa-external-link-alt"></i></button>
          </p>
          <p>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#programModal">List of Programs <i class="fas fa-external-link-alt"></i></button>
          </p>
          <p>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#winterModal">Explore Winter in Philly <i class="fas fa-external-link-alt"></i></button>
          </p>
          <%= image_tag "string-lights.png", style: "width: 250px;" %>
        </div>
        <br>
        <h2 style="color: #07294d;">Venue and Parking</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.392212225244!2d-75.18853608443123!3d39.95498289151544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c64efeb4bc19%3A0x690b17b9f17d512b!2sBossone%20Research%20Enterprise%20Center!5e0!3m2!1sen!2sus!4v1574093421742!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <br>
        <p>
          Directions / Getting to Campus:
          <br>
          <%= link_to "https://drexel.edu/about/directions/university-city-campus", "https://drexel.edu/about/directions/university-city-campus" %>
        </p>
        <p>
          Parking:
          <br>
          <%= link_to "https://drexel.edu/business-services/parking/daily-parking", "https://drexel.edu/business-services/parking/daily-parking" %>
        </p>
        <hr>
        <h2 style="color: #07294d;">Hosted by</h2>
        <br>
        <p>
          <%= image_tag "engineering-blue-black-primary-png.png", style: "width: 100%; max-width: 280px;" %>
          <br>
          <%= link_to "drexel.edu/engineering", "https://drexel.edu/engineering"  %>
        </p>
        <p style="font-size: 2em;"><em>+</em></p>
        <p>
          <%= image_tag "biomed-blue-black-primary-png.png", style: "width: 100%; max-width: 350px;" %>
          <br>
          <%= link_to "drexel.edu/biomed", "https://drexel.edu/biomed" %>  
        </p>
      </div>  
    </div>
  </div>

  <div class="row">
    
  </div>
</div>